@{ 
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "BanDo";
}
<link href="~/cssSanPham/115412a366cccbd694c76421cd50a42c.opt.css" rel="stylesheet" />
<div class="col-sm-8 col-md-8 col-sm-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3488.686654965897!2d105.84420828065713!3d21.548515117284836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313521406ca0840d%3A0x40cb6f8d2cad2168!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBL4bu5IFRodeG6rXQgQ8O0bmcgTmdoaeG7h3A!5e1!3m2!1svi!2s!4v1632560580636!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
