
@{
    ViewBag.Title = "IndexThongTinDuLich";
    Layout = "~/Views/Shared/Base.cshtml";
}

<div class="container-fluid">
    <form>
        <input type="hidden" class="form-control" id="Id">
        <div class="form-group">
            <label for="TIEUDE">Tiêu để</label>
            <input type="text" class="form-control" id="TIEUDE" placeholder="Tiêu đề">
        </div>
        <div class="form-group">
            <label for="MOTA">Mô tả<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="MOTA" placeholder="Mô tả">
        </div>
        <div class="form-group">
            <label for="NOIDUNG">Nội dung<span style="color:red">*</span></label>
            <textarea name="NOIDUNG" id="NOIDUNG"></textarea>
        </div>
        <div class="form-group">
            <label for="HINHANH">Chọn hình ảnh</label>
            <input type="file"id="HINHANH" name="HINHANH" accept="image/png, image/jpeg">
        </div>
        <button type="button" class="btn btn-primary btnUpdate">Lưu</button>
        <button type="button" class="btn btn-primary btnRefresh">Làm mới</button>
    </form>
    <div id="DataThongTinDuLich" class="row">


    </div>
</div>

<div class="container-fluid mt-5">
    <nav id="Page_pg" aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        </ul>
    </nav>

</div>
<script src="~/Content/ckeditor/ckeditor.js"></script>
@*<script src="https://cdn.ckeditor.com/4.16.2/standard-all/ckeditor.js"></script>*@
<script>

    @* public int Id { get; set; }
        public string TIEUDE { get; set; }
        public string NOIDUNG { get; set; }
        public string MOTA { get; set; }
        public string HINHANH { get; set; }
        public string NGUOITAO { get; set; }
        public DateTime NGAYTAO { get; set; }
        public string NGUOISUA { get; set; }
        public DateTime NGAYSUA { get; set; }
        public int TRANGTHAI { get; set; }*@
    $(document).ready(function () {

        CKEDITOR.replace('NOIDUNG', {
            height: 150,
            width: '95%',
            toolbar: 'Basic'
        });
        getDataPage(1);
        $('.btnUpdate').click(function () {
            var TIEUDE = $('#TIEUDE').val();
            var Id = $('#Id').val();
            var NOIDUNG = $('#NOIDUNG').val();
            if (NOIDUNG == '') {
                toastr.warning('Vui lòng nhập nội dung');
                return false;
            }
            var MOTA = $('#MOTA').val();
            if (!MOTA) {
                toastr.warning('Vui lòng nhập mô tả');
                return false;
            }
            var HINHANH = $('#HINHANH').val();
            if (HINHANH == '') {
                toastr.warning('Chọn một hình ảnh')
            }
            var data = {
                Id: Id,
                TIEUDE: TIEUDE.trim(),
                MOTA: MOTA.trim(),
                NOIDUNG: NOIDUNG.trim(),
                HINHANH: HINHANH.trim()
            }
            $.post('/ThongTinDuLich/AddOrUpdate', data, function (data) {
                if (data.status == 500) {
                    toastr.error(data.message);
                }
                else if (data.status == 200) {
                    toastr.success(data.message);
                }
                getDataPage(1);
            })
        })

        $('.btnRefresh').click(function () {
            $('#Id').val('');
            $('#TIEUDE').val('');
            $('#MOTA').val('');
            $('#NOIDUNG').val('');
            $('#HINHANH').val('');
        })
    })

    $("#DataThongTinDuLich").on("click", '.btnXoa', function () {
        let Id = $(this).attr('data-id');
        $.get('/ThongTinDuLich/Delete?Id=' + Id, function (data) {
            if (data.status == 500) {
                toastr.error(data.message);
            }
            else if (data.status == 200) {
                toastr.success(data.message);
            }
            getDataPage(1);
        })
    });

    $("#DataThongTinDuLich").on("click", '.btnSua', function () {
        let Id = $(this).attr('data-id');
        $.get('/ThongTinDuLich/GetById?Id=' + Id, function (data) {

            $('#TIEUDE').val(data.TIEUDE);
            $('#Id').val(data.Id);
            $('#NOIDUNG').val(data.NOIDUNG);
            $('#MOTA').val(data.MOTA);
            $('#HINHANH').val(data.HINHANH);
        })
    });

    function PaginationData(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

    function getDataPage(page) {
        let take = 5;
        LoadData(page, take);
    }

    function LoadData(page, take) {
        let data = {
            page: page,
            take: take
        }
        $.post('/ThongTinDuLich/search', data, function (data) {
            RenderData(data, "#DataThongTinDuLich");
        })
    }
    function RenderData(response, strElement) {
        let data = response.data;
        $(strElement).empty();
        let htmlRender = `<table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">TIEUDE</th>
                    <th scope="col">MOTA</th>
                    <th scope="col">HINHANH</th>
                </tr>
            </thead>

            <tbody>`;
        for (var i = 0; i < data.length; i++) {
            htmlRender += `<tr>
                    <th scope="row">`+ (i + 1) + `</th>
                    <td>`+ data[i].TIEUDE + `</td>
                    <td>`+ data[i].MOTA + `</td>
                    <td><button type="button" data-id='`+ data[i].Id + `' class="btn btn-primary btnSua">Sửa</button><button data-id='` + data[i].Id + `' type="button" class="btn btn-danger btnXoa">Xóa</button></td>
                </tr>`;
        }
        htmlRender += `</tbody>
        </table>`;
        $(strElement).append(htmlRender);
        PaginationData(response);
    }
</script>