@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "BOOKING";
}

<link href="~/cssDatPhong/937af88e1c6af296f5fa8cd19616839d.opt.css" rel="stylesheet" />
<div class="col-sm-8 col-md-8 col-sm-3">
    <form id="fcontact" method="post" action="http://thainguyentourism.vn/vi/booking/">
        <div class="content clearfix">
            <div class="fname"><label for="fname"><strong>Họ và tên: <font color="#CF1818">(*)</font></strong></label> <input style="width: 250px;" type="text" maxlength="100" value="" id="fname" name="fname" class="txtInput"></div>
            <div class="femail"><label for="femail_iavim"><strong>Địa chỉ email: <font color="#CF1818">(*)</font></strong></label> <input style="width: 250px;" type="text" maxlength="60" value="" id="femail_iavim" name="femail" class="txtInput"></div>
            <div class="add"><label for="femail_iavim"><strong>Địa chỉ:</strong></label> <input style="width: 420px;" type="text" maxlength="100" value="" id="add_iavim" name="add" class="txtInput"></div>
            <div class="phone"><label for="phone_iavim">Số Điện Thoại:</label> <input style="width: 200px;" type="number" maxlength="20" value="" id="fphone_iavim" name="fphone" class="txtInput"></div>
            <div class="cmt"><label for="cmt_iavim">Chứng minh Thư:</label> <input style="width: 200px;" type="number" maxlength="20" value="" id="cmt_iavim" name="cmt" class="txtInput"></div>
            <div class="type">
                <label for="type_iavim">Loại Phòng:</label> <select id="ftyperoom" name="type">
                    <option value="1">Phòng đơn</option>
                    <option value="2">Phòng đôi</option>
                    <option value="3">Phòng 3 giường</option>
                    <option value="4">Phòng VIP</option>
                </select>
            </div>
            <div class="quantity"><label for="quantity_iavim">Số khách:</label> <input type="number" style="width: 200px;" maxlength="10" value="" id="quantity" name="quantity" class="txtInput"></div>
            <div class="checkin"><label for="checkin_iavim">Ngày Đến:</label> <input type="date" style="width: 200px;" maxlength="10" value="" id="checkin" name="checkin" class="datepicker txtInput hasDatepicker"></div>
            <div class="checkout"><label for="checkout_iavim">Ngày Đi: </label> <input type="date" style="width: 290px;" maxlength="10" value="" id="checkout" name="checkout" class="datepicker txtInput hasDatepicker"></div>
            <div class="nationality"><label for="nationality_iavim">Quốc tịch:</label> <input style="width: 200px;" type="text" maxlength="60" value="" id="nationality_iavim" name="nationality" class="txtInput"></div>
            <div class="gender">
                <label for="gender_iavim">Giới Tính:</label> <select id="gender_iavim" name="gender">
                    <option value="0">---Chọn---</option>
                    <option value="1">Nam</option>
                    <option value="2">Nữ</option>
                </select>
            </div>
            <div>
                <label for="fpart">Gửi đến bộ phận:</label> <select class="sl2" id="fpart" name="fpart">
                    <option value="1">Công nghệ thông tin</option>
                </select>
            </div>
            <div>
                <label for="fcon">Nội dung: </label>
<textarea cols="8" rows="8" id="fcon" name="fcon" style="overflow: auto;" class="txttextArea"></textarea>
            </div>

            <div style="clear:both"></div>
            <div style=" padding-top:5px;"><input type="reset" id="btnhuy" value="Hủy" class="bt1">&nbsp;&nbsp;<input type="button" value="Đặt phòng" id="btsend" name="btsend" class="bt1"></div>
        </div>
    </form>
</div>

<script>

    $(document).ready(function () {
        $('#btnhuy').click(function () {
            $('#fname').val('');
            $('#femail_iavim').val('');
            $('#add_iavim').val('');
            $('#fphone').val('');
            $('#cmt_iavim').val('');
            $('#ftyperoom').val('');
            $('#quantity').val('');
            $('#checkin').val('');
            $('#checkout').val('');
            $('#nationality_iavim').val('');
            $('#gender_iavim').val('');
            $('#fpart').val('');
            $('#fcon').val('');
        })
        $('#btsend').click(function () {
            let HOTEN = $('#fname').val().trim();
            let EMAIL = $('#femail_iavim').val().trim();
            let DIACHI = $('#add_iavim').val().trim();
            let SODIENTHOAI = $('#fphone').val();
            let CHUNGMINHTHUNHANDAN = $('#cmt_iavim').val();
            let LOAIPHONG = $('#ftyperoom').val();
            let SOKHACH = $('#quantity').val();
            let NGAYDEN = $('#checkin').val();
            let NGAYDI = $('#checkout').val();
            let QUOCTICH = $('#nationality_iavim').val().trim();
            let GIOITINH = $('#gender_iavim').val();
            let BOPHANGUIDEN = $('#fpart').val();
            let NOIDUNG = $('#fcon').val().trim();
            let dataSend = {
                HOTEN: HOTEN,
                EMAIL: EMAIL,
                DIACHI: DIACHI,
                SODIENTHOAI: SODIENTHOAI,
                CHUNGMINHTHUNHANDAN: CHUNGMINHTHUNHANDAN,
                LOAIPHONG: LOAIPHONG,
                SOKHACH: SOKHACH,
                NGAYDEN: NGAYDEN,
                NGAYDI: NGAYDI,
                QUOCTICH: QUOCTICH,
                GIOITINH: GIOITINH,
                BOPHANGUIDEN: BOPHANGUIDEN,
                NOIDUNG: NOIDUNG
            }
            $.post('/Booking/AddOrUpdate', dataSend, function (data) {
                if (data.status == 500) {
                    toastr.error(data.message);

                }
                else {
                    toastr.error(data.message);

                    $('#fname').val('');
                    $('#femail_iavim').val('');
                    $('#add_iavim').val('');
                    $('#fphone').val('');
                    $('#cmt_iavim').val('');
                    $('#ftyperoom').val('');
                    $('#quantity').val('');
                    $('#checkin').val('');
                    $('#checkout').val('');
                    $('#nationality_iavim').val('');
                    $('#gender_iavim').val('');
                    $('#fpart').val('');
                    $('#fcon').val('');
                }
            })
        })
    })
</script>