@{
    Layout = null;
}

<script type="text/javascript">
    nv_DigitalClock('digclock');
    $(document).ready(function () {
        $('#menu-site-default .dropdown').hover(function () {
            $(this).addClass('open');
        }, function () {
            $(this).removeClass('open');
        });
        $('#menu-site-default a').hover(function () {
            $(this).attr("rel", $(this).attr("title"));
            $(this).removeAttr("title");
        }, function () {
            $(this).attr("title", $(this).attr("rel"));
            $(this).removeAttr("rel");
        });
    });

    $(document).ready(function () {
        getDataPage1(1);
    })

    function getDataPage1(page) {
        let take = 5;
        LoadData1(page, 5);
    }

    function LoadData1(page, take) {
        let data = {
            page: page,
            take: take
        }
        $.post('/TinTuc/search', data, function (data) {
            RenderData1(data, "#sample");
        })
    }
    function RenderData1(response, strElement) {
        let data = response.data;
        $(strElement).empty();
        let htmlRender = ``;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                htmlRender += `
        <li class="thaotrinh">
        <img alt="` + data[i].MOTA + `" src="/Content/HinhAnh/` + data[i].HINHANH + `" />
            <div class="toRight posA opaH01 traA15e w100">
                        <h3><a href="/ChiTietTinTuc?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `">` + data[i].TIEUDE + `</a> <span class="icon_new">&nbsp;</span></h3>
                        <p  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="text-justify">` + data[i].MOTA + `</p>
            </div>

        </li>`;
            }
        }
        else {
            htmlRender += '<div>Không tìm thấy sản phẩm</div>';
        }
        $(strElement).append(htmlRender);
        $('ul#sample').roundabout({
            autoplay: true,
            autoplayDuration: 1800,         //3000  1800
            autoplayPauseOnHover: true,
            /**/
            enableDrag: true
        });
        PaginationData1(response);
    }

    function PaginationData1(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

</script>
<script type="text/javascript" src="/themes/default/js/global.slide_roundabout/jquery.roundabout.min.js?t=19">
</script>
<script type="text/javascript">
    $(window).load(function () {
        
    });

    <li class="thaotrinh">
        <img src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/atk1.jpg" />
        <div class="toBottom posA opaH01 traA15e w100">
            <h3><a href="http://thainguyentourism.vn/vi/du-khach/Khoi-hanh/Diem-nhanh-cac-diem-du-lich-chinh-o-Thai-Nguyen-2.html" target="_top">Hồ Núi Cốc</a></h3>
            <p>Bồng bềnh, chòng trành, một vùng núi cao nước sâu, thuyền trôi dưới chân Tam Đảo, một màu xanh huyền huyền thoại!</p>
        </div>
    </li>
</script>
<div id="slide_roundabout">
    <ul id="sample">
    </ul>
</div>