@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "SANPHAM";
}

<link href="~/cssSanPham/115412a366cccbd694c76421cd50a42c.opt.css" rel="stylesheet" />
<div class="col-sm-8 col-md-8 col-sm-3">

    <div id="DataSanPham">

    </div>

    <hr />
    <div id="Page_pg" class="text-center">
        <ul class="pagination">
        </ul>
    </div>
    @*<div id="products" class="clearfix">
            <div class="form-group form-inline pull-right">
                <label class="control-label">Sắp xếp theo:</label> <select name="sort" id="sort" class="form-control input-sm" onchange="nv_chang_price();">
                    <option value="0" selected="selected">Mới cập nhật</option>
                    <option value="1">Giá tăng dần</option>
                    <option value="2">Giá giảm dần</option>
                </select>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div style="height: 100px"><a href="http://thainguyentourism.vn/vi/shops/Thuc-pham-tieu-dung/Mien-dong-Viet-Cuong-17.html" title="Miến dong Việt Cường"><img src="./Mua sắm du lịch - CỔNG DU LỊCH THÁI NGUYÊN_files/nongsanngon_mienvietcuong.jpg" alt="Miến dong Việt Cường" data-toggle="tooltip" data-placement="bottom" data-rel="tooltip" data-html="true" title="" class="img-thumbnail custom_tooltip" style="max-width:150px;" data-original-title="&lt;img class=&#39;img-thumbnail pull-left&#39; style=&#39;margin: 0 5px 5px 0;&#39; src=&#39;/files/shops/2017_10/nongsanngon_mienvietcuong.jpg&#39; width=&#39;150&#39; /&gt;&lt;p class=&#39;text-justify&#39;&gt;&lt;strong&gt;Miến dong Việt Cường&lt;/strong&gt;&lt;br /&gt;Miến Việt Cường, cùng với hương vị đặc biệt và thành phần an toàn đã trở thành đặc sản thân thiện với sức khỏe, được người tiêu dùng sử dụng trên khắp cả nước tin dùng&lt;/p&gt;&lt;div class=&#39;clearfix&#39;&gt;&lt;/div&gt;"></a></div>
                    <div class="caption text-center">
                        <h3><a href="http://thainguyentourism.vn/vi/shops/Thuc-pham-tieu-dung/Mien-dong-Viet-Cuong-17.html" title="Miến dong Việt Cường">Miến dong Việt Cường</a></h3>
                        <p class="price">Giá: <span class="money">Liên hệ</span></p>
                        <p><input type="checkbox" value="17" onclick="nv_compare(17);" id="compare_17"><a href="javascript:void(0);" onclick="nv_compare_click();">&nbsp;So sánh</a></p>
                        <div class="clearfix"><a href="http://thainguyentourism.vn/vi/shops/Thuc-pham-tieu-dung/Mien-dong-Viet-Cuong-17.html" title="Miến dong Việt Cường"></a><button type="button" class="btn btn-primary btn-xs"><a href="http://thainguyentourism.vn/vi/shops/Thuc-pham-tieu-dung/Mien-dong-Viet-Cuong-17.html" title="Miến dong Việt Cường"></a><a href="http://thainguyentourism.vn/vi/shops/Thuc-pham-tieu-dung/Mien-dong-Viet-Cuong-17.html" title="Miến dong Việt Cường">Chi tiết</a></button></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div style="height: 100px"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Keo-lac-Tra-xanh-16.html" title="Kẹo lạc Trà xanh"><img src="./Mua sắm du lịch - CỔNG DU LỊCH THÁI NGUYÊN_files/keo-lac_1.jpg" alt="Kẹo lạc Trà xanh" data-toggle="tooltip" data-placement="bottom" data-rel="tooltip" data-html="true" title="" class="img-thumbnail custom_tooltip" style="max-width:150px;" data-original-title="&lt;img class=&#39;img-thumbnail pull-left&#39; style=&#39;margin: 0 5px 5px 0;&#39; src=&#39;/files/shops/2017_10/keo-lac_1.jpg&#39; width=&#39;150&#39; /&gt;&lt;p class=&#39;text-justify&#39;&gt;&lt;strong&gt;Kẹo lạc Trà xanh&lt;/strong&gt;&lt;br /&gt;Kẹo lạc trà xanh đã trở thành một thức quà được nhiều du khách lựa chọn khi đến với Thái Nguyên.&lt;/p&gt;&lt;div class=&#39;clearfix&#39;&gt;&lt;/div&gt;"></a></div>
                    <div class="caption text-center">
                        <h3><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Keo-lac-Tra-xanh-16.html" title="Kẹo lạc Trà xanh">Kẹo lạc Trà xanh</a></h3>
                        <p class="price">Giá: <span class="money">Liên hệ</span></p>
                        <p><input type="checkbox" value="16" onclick="nv_compare(16);" id="compare_16"><a href="javascript:void(0);" onclick="nv_compare_click();">&nbsp;So sánh</a></p>
                        <div class="clearfix"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Keo-lac-Tra-xanh-16.html" title="Kẹo lạc Trà xanh"></a><button type="button" class="btn btn-primary btn-xs"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Keo-lac-Tra-xanh-16.html" title="Kẹo lạc Trà xanh"></a><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Keo-lac-Tra-xanh-16.html" title="Kẹo lạc Trà xanh">Chi tiết</a></button></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div style="height: 100px"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Che-Tom-Non-15.html" title="Chè Tôm Nõn"><img src="./Mua sắm du lịch - CỔNG DU LỊCH THÁI NGUYÊN_files/z2649818022089_b638e29301a2d3f6ebd12d436f3f5a2f.jpg" alt="Chè Tôm Nõn" data-toggle="tooltip" data-placement="bottom" data-rel="tooltip" data-html="true" title="" class="img-thumbnail custom_tooltip" style="max-width:150px;" data-original-title="&lt;img class=&#39;img-thumbnail pull-left&#39; style=&#39;margin: 0 5px 5px 0;&#39; src=&#39;/files/shops/2017_10/z2649818022089_b638e29301a2d3f6ebd12d436f3f5a2f.jpg&#39; width=&#39;150&#39; /&gt;&lt;p class=&#39;text-justify&#39;&gt;&lt;strong&gt;Chè Tôm Nõn&lt;/strong&gt;&lt;br /&gt;Trà tôm nõn được tuyển chọn từ những búp chè tươi xanh, qua những bàn tay chế biến của những người nghệ nhân vùng Tân Cương – Thái Nguyên tạo nên sản phẩm thơm ngon nức tiếng. Trà tôm nõn được hái gồm một đọt non mới nhú và 1 lá non kề sát bên dưới là đạt chuẩn.&lt;/p&gt;&lt;div class=&#39;clearfix&#39;&gt;&lt;/div&gt;"></a></div>
                    <div class="caption text-center">
                        <h3><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Che-Tom-Non-15.html" title="Chè Tôm Nõn">Chè Tôm Nõn</a></h3>
                        <p class="price">Giá: <span class="money">Liên hệ</span></p>
                        <p><input type="checkbox" value="15" onclick="nv_compare(15);" id="compare_15"><a href="javascript:void(0);" onclick="nv_compare_click();">&nbsp;So sánh</a></p>
                        <div class="clearfix"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Che-Tom-Non-15.html" title="Chè Tôm Nõn"></a><button type="button" class="btn btn-primary btn-xs"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Che-Tom-Non-15.html" title="Chè Tôm Nõn"></a><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Che-Tom-Non-15.html" title="Chè Tôm Nõn">Chi tiết</a></button></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div style="height: 100px"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Nhat-dinh-Tra-14.html" title="Nhất đinh Trà"><img src="./Mua sắm du lịch - CỔNG DU LỊCH THÁI NGUYÊN_files/chi-tan.jpg" alt="Nhất đinh Trà" data-toggle="tooltip" data-placement="bottom" data-rel="tooltip" data-html="true" title="" class="img-thumbnail custom_tooltip" style="max-width:150px;" data-original-title="&lt;img class=&#39;img-thumbnail pull-left&#39; style=&#39;margin: 0 5px 5px 0;&#39; src=&#39;/files/shops/2017_10/chi-tan.jpg&#39; width=&#39;150&#39; /&gt;&lt;p class=&#39;text-justify&#39;&gt;&lt;strong&gt;Nhất đinh Trà&lt;/strong&gt;&lt;br /&gt;Nguyên liệu làm trà đinh phải là những đọt trà non, được tuyển chọn vô cùng khắt khe và kỹ càng. Loại trà này được thu hái tại những vườn chè có tuổi đời lâu năm được chăm sóc đặc biệt. Chỉ những búp chè cuộn chặt, nhọn giống cây đinh mới được thu hái. Hơn nữa, không phải ai cũng có thể chế biến được Nhất đinh Trà. Chỉ những người nghệ nhân lâu năm, dày dặn kinh nghiệm mới có thể sao,vò trà cẩn thận.&lt;/p&gt;&lt;div class=&#39;clearfix&#39;&gt;&lt;/div&gt;"></a></div>
                    <div class="caption text-center">
                        <h3><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Nhat-dinh-Tra-14.html" title="Nhất đinh Trà">Nhất đinh Trà</a></h3>
                        <p class="price">Giá: <span class="money">Liên hệ</span></p>
                        <p><input type="checkbox" value="14" onclick="nv_compare(14);" id="compare_14"><a href="javascript:void(0);" onclick="nv_compare_click();">&nbsp;So sánh</a></p>
                        <div class="clearfix"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Nhat-dinh-Tra-14.html" title="Nhất đinh Trà"></a><button type="button" class="btn btn-primary btn-xs"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Nhat-dinh-Tra-14.html" title="Nhất đinh Trà"></a><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Nhat-dinh-Tra-14.html" title="Nhất đinh Trà">Chi tiết</a></button></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div style="height: 100px"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-bup-dac-san-Tan-Cuong-13.html" title="Trà đinh thượng hạng"><img src="./Mua sắm du lịch - CỔNG DU LỊCH THÁI NGUYÊN_files/tra-dinh-thuong-hang-100g.jpg" alt="Trà đinh thượng hạng" data-toggle="tooltip" data-placement="bottom" data-rel="tooltip" data-html="true" title="" class="img-thumbnail custom_tooltip" style="max-width:150px;" data-original-title="&lt;img class=&#39;img-thumbnail pull-left&#39; style=&#39;margin: 0 5px 5px 0;&#39; src=&#39;/files/shops/2017_10/tra-dinh-thuong-hang-100g.jpg&#39; width=&#39;150&#39; /&gt;&lt;p class=&#39;text-justify&#39;&gt;&lt;strong&gt;Trà đinh thượng hạng&lt;/strong&gt;&lt;br /&gt;Vùng chè đặc sản Tân Cương thành phố Thái Nguyên&lt;/p&gt;&lt;div class=&#39;clearfix&#39;&gt;&lt;/div&gt;"></a></div>
                    <div class="caption text-center">
                        <h3><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-bup-dac-san-Tan-Cuong-13.html" title="Trà đinh thượng hạng">Trà đinh thượng hạng</a></h3>
                        <p class="label label-default">Bán buôn, bán lẻ sản phẩm chè đặc sản Tân Cương - Thái Nguyên</p>
                        <p class="price">Giá: <span class="money">Liên hệ</span></p>
                        <p><input type="checkbox" value="13" onclick="nv_compare(13);" id="compare_13"><a href="javascript:void(0);" onclick="nv_compare_click();">&nbsp;So sánh</a></p>
                        <div class="clearfix"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-bup-dac-san-Tan-Cuong-13.html" title="Trà đinh thượng hạng"></a><button type="button" class="btn btn-primary btn-xs"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-bup-dac-san-Tan-Cuong-13.html" title="Trà đinh thượng hạng"></a><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-bup-dac-san-Tan-Cuong-13.html" title="Trà đinh thượng hạng">Chi tiết</a></button></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div style="height: 100px"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu"><img src="./Mua sắm du lịch - CỔNG DU LỊCH THÁI NGUYÊN_files/moc-cau.jpg" alt="Trà móc câu" data-toggle="tooltip" data-placement="bottom" data-rel="tooltip" data-html="true" title="" class="img-thumbnail custom_tooltip" style="max-width:150px;" data-original-title="&lt;img class=&#39;img-thumbnail pull-left&#39; style=&#39;margin: 0 5px 5px 0;&#39; src=&#39;/files/shops/2017_10/moc-cau.jpg&#39; width=&#39;150&#39; /&gt;&lt;p class=&#39;text-justify&#39;&gt;&lt;strong&gt;Trà móc câu&lt;/strong&gt;&lt;br /&gt;Là loại chè được hái một tôm hai lá, cánh chè xoăn và cong như móc câu&lt;/p&gt;&lt;div class=&#39;clearfix&#39;&gt;&lt;/div&gt;"></a></div>
                    <div class="caption text-center">
                        <h3><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu">Trà móc câu</a></h3>
                        <p class="price">Giá: <span class="money">Liên hệ</span></p>
                        <p><input type="checkbox" value="7" onclick="nv_compare(7);" id="compare_7"><a href="javascript:void(0);" onclick="nv_compare_click();">&nbsp;So sánh</a></p>
                        <div class="clearfix"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu"></a><button type="button" class="btn btn-primary btn-xs"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu"></a><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu">Chi tiết</a></button></div>
                    </div>
                </div>
            </div>
        </div>*@

</div>

<script>
    $(document).ready(function () {
        getDataPage(1);
    })

    function getDataPage(page) {
        let take = 20;
        LoadData(page, take);
    }

    function LoadData(page, take) {
        let data = {
            page: page,
            take: take
        }
        $.post('/SanPham/search', data, function (data) {
            RenderData(data, "#DataSanPham");
        })
    }
    function RenderData(response, strElement) {
        let data = response.data;
        console.log(data);
        $(strElement).empty();
        let htmlRender = ``;
        for (var i = 0; i < data.length; i++) {
            //htmlRender += `<div class="news_column">
            //    <div class="panel panel-default">
            //        <div class="panel-body">
            //            <a href="/ChiTietTinTuc?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `"><img alt="` + data[i].MOTA + `" src="` + data[i].HINHANH + `" width="200" class="img-thumbnail pull-left imghome" /></a>
            //            <h3><a href="/ChiTietTinTuc?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `">` + data[i].TIEUDE + `</a> <span class="icon_new">&nbsp;</span></h3>
            //            <p class="text-justify">` + data[i].MOTA + `</p>
            //        </div>
            //    </div>
            //</div>`;
            //
            //<div class="col-sm-6 col-md-3">
            //    <div class="thumbnail">
            //        <div style="height: 100px"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu"><img src="./Mua sắm du lịch - CỔNG DU LỊCH THÁI NGUYÊN_files/moc-cau.jpg" alt="Trà móc câu" data-toggle="tooltip" data-placement="bottom" data-rel="tooltip" data-html="true" title="" class="img-thumbnail custom_tooltip" style="max-width:150px;" data-original-title="&lt;img class=&#39;img-thumbnail pull-left&#39; style=&#39;margin: 0 5px 5px 0;&#39; src=&#39;/files/shops/2017_10/moc-cau.jpg&#39; width=&#39;150&#39; /&gt;&lt;p class=&#39;text-justify&#39;&gt;&lt;strong&gt;Trà móc câu&lt;/strong&gt;&lt;br /&gt;Là loại chè được hái một tôm hai lá, cánh chè xoăn và cong như móc câu&lt;/p&gt;&lt;div class=&#39;clearfix&#39;&gt;&lt;/div&gt;"></a></div>
            //            <div class="caption text-center">
            //                <h3><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu">Trà móc câu</a></h3>
            //                <p class="price">Giá: <span class="money">Liên hệ</span></p>
            //                <p><input type="checkbox" value="7" onclick="nv_compare(7);" id="compare_7"><a href="javascript:void(0);" onclick="nv_compare_click();">&nbsp;So sánh</a></p>
            //                    <div class="clearfix"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu"></a><button type="button" class="btn btn-primary btn-xs"><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu"></a><a href="http://thainguyentourism.vn/vi/shops/San-pham-Tra/Tra-moc-cau-7.html" title="Trà móc câu">Chi tiết</a></button></div>
            //        </div>
            //            </div>
            //        </div>
            htmlRender += `<div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="panel-body">
                        <a href="/ChiTietSanPham?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `"><img alt="` + data[i].MOTA + `" src="/Content/AnhSanPham/` + data[i].HINHANH + `" width="200" class="img-thumbnail pull-left imghome" /></a>
                        <h3><a href="/ChiTietSanPham?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `">` + data[i].TENMATHANG + `</a> <span class="icon_new">&nbsp;</span></h3>
                        <p class="text-justify">Giá: ` + data[i].GIA + `</p>
                        <p class="text-justify">` + data[i].MOTA + `</p>
                    </div>
                </div>
            </div>`;
        }
        $(strElement).append(htmlRender);
        PaginationData(response);
    }

    function PaginationData(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

</script>
