@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "SANPHAM";
    string Keyword = ViewBag.Keyword;
}
<input type="hidden" value="@Keyword" id="Keyword"/>
<link href="~/cssSanPham/115412a366cccbd694c76421cd50a42c.opt.css" rel="stylesheet" />
<div class="col-sm-8 col-md-8 col-sm-3">

    <div id="DataSanPham">

    </div>

    <hr />
    <div id="Page_pg" class="text-center">
        <ul class="pagination">
        </ul>
    </div>
 
</div>

<script>
    $(document).ready(function () {
        getDataPage(1);
    })

    function getDataPage(page) {
        let take = 20;
        LoadData(page, take);
    }

    function LoadData(page, take) {
        let data = {
            page: page,
            take: take,
            Keyword: $('#Keyword').val()
        }
        $.post('/Product/search', data, function (data) {
            RenderData(data, "#DataSanPham");
        })
    }
    function RenderData(response, strElement) {
        let data = response.data;
        console.log(data);
        $(strElement).empty();
        let htmlRender = ``;
        if (data.length>0) {
            for (var i = 0; i < data.length; i++) {
                htmlRender += `<div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="panel-body">
                        <a href="/ChiTietSanPham?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `"><img alt="` + data[i].MOTA + `" src="/Content/AnhSanPham/` + data[i].HINHANH + `" width="200" class="img-thumbnail pull-left imghome" /></a>
                        <h3><a href="/ChiTietSanPham?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `">` + data[i].TENMATHANG + `</a> <span class="icon_new">&nbsp;</span></h3>
                        <p class="text-justify">Giá: ` + data[i].GIA + `</p>
                        <p class="text-justify">` + data[i].MOTA + `</p>
                    </div>
                </div>
            </div>`;
            }
        }
        else {
            htmlRender += '<div>Không tìm thấy sản phẩm</div>';
        }
        $(strElement).append(htmlRender);
        PaginationData(response);
    }

    function PaginationData(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

</script>
