
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Base.cshtml";
}

<div class="container-fluid">
    <form>
        <input type="hidden" class="form-control" id="Id">
        <div class="form-group">
            <label for="Name">Tên người dùng</label>
            <input type="text" class="form-control" id="Name" placeholder="Tên người dùng">
        </div>
        <div class="form-group">
            <label for="UserName">Tên tài khoản<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="UserName" placeholder="Tên tài khoản">
        </div>
        <div class="form-group">
            <label for="PassWord">Mật khẩu<span style="color:red">*</span></label>
            <input type="password" class="form-control" id="PassWord" placeholder="Tên tài khoản">
        </div>
        <div class="form-group">
            <label for="RePassWord">Nhập lại mật khẩu<span style="color:red">*</span></label>
            <input type="password" class="form-control" id="RePassWord" placeholder="nhập lại mật khẩu">
        </div>
        <button type="button" class="btn btn-primary btnUpdate">Lưu</button>
        <button type="button" class="btn btn-primary btnRefresh">Làm mới</button>
    </form>
    <div id="DataPermission" class="row">

        
    </div>
</div>

<div class="container-fluid mt-5">
    <nav id="Page_pg" aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        </ul>
    </nav>

</div>

<script>
    $(document).ready(function () {
        getDataPage(1);
        $('.btnUpdate').click(function () {
            var Name = $('#Name').val();
            var Id = $('#Id').val();
            var UserName = $('#UserName').val();
            var PassWord = $('#PassWord').val();
            var RePassWord = $('#RePassWord').val();

            if (UserName == '') {
                toastr.warning('Vui lòng nhập tên tài khoản');
                return false;
            }
            if (PassWord == '') {
                toastr.warning('Vui lòng nhập mật khẩu');
                return false;
            }
            if (PassWord != RePassWord) {
                toastr.warning('Mật khẩu không trùng nhau, vui lòng nhập lại!');
                return false;
            }
            var data = {
                Id:Id,
                Name: Name.trim(),
                UserName: UserName.trim(),
                PassWord: PassWord.trim(),
                RePassWord: RePassWord.trim(),
            }
            $.post('/User/AddOrUpdate', data, function (data) {
                if (data.status == 500) {
                    toastr.error(data.message);
                }
                else if (data.status == 200) {
                    toastr.success(data.message);
                }
                getDataPage(1);
            })
        })
    })
    function PaginationData(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

    function getDataPage(page) {
        let take = 5;
        LoadData(page, take);
    }

    function LoadData(page, take) {
        let data = {
            page: page,
            take:take
        }
        $.post('/User/search', data, function (data) {
            RenderData(data, "#DataPermission");
        })
    }
    function RenderData(response, strElement) {
        let data = response.data;
        $(strElement).empty();
        let htmlRender = `<table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">MAQUYEN</th>
                    <th scope="col">TENQUYEN</th>
                </tr>
            </thead>

            <tbody>`;
        for (var i = 0; i < data.length; i++) {
            htmlRender += `<tr>
                    <th scope="row">`+(i+1)+`</th>
                    <td>`+data[i].MAQUYEN+`</td>
                    <td>`+ data[i].TENQUYEN +`</td>
                </tr>`;
        }
        htmlRender += `</tbody>
        </table>`;
        $(strElement).append(htmlRender);
        PaginationData(response);
    } 
</script>