@{ 
    Layout = null;
}

<div class="container">
    <div class="row" id="header-wraper">
        <div id="header">
            <div id="logo">
                <h1><a title="CỔNG DU LỊCH THÁI NGUYÊN" href="/vi/"><img src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/logo.png" alt="CỔNG DU LỊCH THÁI NGUYÊN" /><span><strong>CỔNG DU LỊCH THÁI NGUYÊN</strong></span></a></h1>
            </div>
        </div>
        <div id="banner">
            <img src="~/CỔNG DU LỊCH THÁI NGUYÊN_files/banner.jpg" />>
        </div>

    </div>
</div>