@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "TINTUC";
    string Keyword = ViewBag.Keyword;
}
<input type="hidden" id="Keyword" value="@Keyword"/>
<link href="~/CỔNG DU LỊCH THÁI NGUYÊN_files/ce2ef6deb98210c34d168c454170101b.opt.css" rel="stylesheet" />
<div class="col-sm-8 col-md-8 col-sm-3">
    <div id="DataThongTinDuLich">

    </div>

    <hr />
    <div id="Page_pg" class="text-center">
        <ul class="pagination">
        </ul>
    </div>

</div>

<script>
    $(document).ready(function () {
        getDataPage(1);
    })

    function getDataPage(page) {
        let take =20;
        LoadData(page, take);
    }

    function LoadData(page, take) {
        let data = {
            page: page,
            take: take,
            Keyword: $('#Keyword').val().trim()
        }
        $.post('/TinTuc/search', data, function (data) {
            RenderData(data, "#DataThongTinDuLich");
        })
    }
    function RenderData(response, strElement) {
        let data = response.data;
        console.log(data);
        $(strElement).empty();
        let htmlRender = ``;
        if (data.length>0) {
            for (var i = 0; i < data.length; i++) {
                htmlRender += `<div class="news_column">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/ChiTietTinTuc?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `"><img alt="` + data[i].MOTA + `" src="/Content/HinhAnh/` + data[i].HINHANH + `" width="200" class="img-thumbnail pull-left imghome" /></a>
                        <h3><a href="/ChiTietTinTuc?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `">` + data[i].TIEUDE + `</a> <span class="icon_new">&nbsp;</span></h3>
                        <p class="text-justify">` + data[i].MOTA + `</p>
                    </div>
                </div>
            </div>`;
            }
        }
        else {
            htmlRender += '<div>Không tìm thấy sản phẩm</div>';
        }
        
        $(strElement).append(htmlRender);
        PaginationData(response);
    }

    function PaginationData(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

</script>
