@{
    Layout = null;
}
<div class="col-sm-4 col-md-4 col-sm-4 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading"><a href="/vi/du-khach/">CHO DU KHÁCH, nhấn + để chọn</a></div>
        <div class="panel-body">
            <script type="text/javascript" src="/js/jquery/jquery.metisMenu.js?t=19">
            </script>
            <div class="clearfix well">
                <aside class="sidebar">
                    <nav class="sidebar-nav">
                        <ul id="menu_5">
                            <li>
                                <a title="ĐIỂM ĐẾN" href="/vi/du-khach/Kham-pha-diem-den/">ĐIỂM ĐẾN</a> <span class="arrow" id="expand">+</span>
                                <ul>
                                    <li><a title="Du lịch Danh thắng" href="/vi/du-khach/Du-lich-Danh-thang/">Du lịch Danh thắng</a></li>
                                    <li><a title="Du lịch Lịch sử" href="/vi/du-khach/Du-lich-Le-hoi/">Du lịch Lịch sử</a></li>
                                    <li><a title="Du lịch làng nghề" href="/vi/du-khach/Du-lich-lang-nghe/">Du lịch làng nghề</a></li>
                                    <li><a title="Du lịch Lễ hội, dân gian" href="/vi/du-khach/Du-lich-Le-hoi-dan-gian/">Du lịch Lễ hội, dân...</a></li>
                                    <li><a title="Bảo tàng" href="/vi/du-khach/Bao-tang/">Bảo tàng</a></li>
                                </ul>
                            </li>
                            <li>
                                <a title="KHỞI HÀNH" href="/vi/du-khach/Khoi-hanh/">KHỞI HÀNH</a> <span class="arrow" id="expand">+</span>
                                <ul>
                                    <li><a title="Tour nội tỉnh" href="/vi/du-khach/Tour-noi-tinh/">Tour nội tỉnh</a></li>
                                    <li><a title="Tour liên tỉnh" href="/vi/du-khach/Tour-lien-tinh/">Tour liên tỉnh</a></li>
                                    <li><a title="Xe Du lịch" href="/vi/du-khach/Xe-Du-lich/">Xe Du lịch</a></li>
                                    <li><a title="Dịch vụ vận chuyển" href="/vi/du-khach/Dich-vu-van-chuyen/">Dịch vụ vận chuyển</a></li>
                                    <li><a title="Đăng ký phòng Khách sạn" href="/vi/du-khach/Dang-ky-phong-Khach-san/">Đăng ký phòng Khách...</a></li>
                                    <li><a title="Kios Xăng, ATM" href="/vi/du-khach/Kios-Xang-ATM/">Kios Xăng, ATM</a></li>
                                    <li><a title="Hệ thống ngân hàng" href="/vi/du-khach/He-thong-ngan-hang/">Hệ thống ngân hàng</a></li>
                                    <li><a title="Điện thoại hỗ trợ" href="/vi/du-khach/Dien-thoai-ho-tro/">Điện thoại hỗ trợ</a></li>
                                </ul>
                            </li>
                            <li>
                                <a title="ĂN GÌ, Ở ĐÂU" href="/vi/du-khach/An-gi-O-dau/">ĂN GÌ, Ở ĐÂU</a> <span class="arrow" id="expand">+</span>
                                <ul>
                                    <li><a title="Ẩm thực" href="/vi/du-khach/Am-thuc/">Ẩm thực</a></li>
                                    <li><a title="Nhà hàng, Bar-Coffe" href="/vi/du-khach/Nha-hang-Bar-Coffe/">Nhà hàng, Bar-Coffe</a></li>
                                    <li><a title="Khu nghỉ dưỡng, khách sạn" href="/vi/du-khach/Khu-nghi-duong-khach-san/">Khu nghỉ dưỡng, khách...</a></li>
                                    <li><a title="Nhà nghỉ" href="/vi/du-khach/Nha-nghi/">Nhà nghỉ</a></li>
                                </ul>
                            </li>
                            <li>
                                <a title="GIẢI TRÍ, MUA SẮM" href="/vi/du-khach/Giai-tri-mua-sam/">GIẢI TRÍ, MUA SẮM</a> <span class="arrow" id="expand">+</span>
                                <ul>
                                    <li><a title="Mua sắm" href="/vi/du-khach/Mua-sam/">Mua sắm</a></li>
                                    <li><a title="Giải trí, thư giãn" href="/vi/du-khach/Giai-tri-thu-gian/">Giải trí, thư giãn</a></li>
                                </ul>
                            </li>
                            <li><a title="LƯU TRÚ DÀI NGÀY" href="/vi/du-khach/Luu-tru-dai-ngay/">LƯU TRÚ DÀI NGÀY</a></li>
                            <li><a title="QUÀ TẶNG, LƯU NIỆM" href="/vi/du-khach/Qua-tang-luu-niem/">QUÀ TẶNG, LƯU NIỆM</a></li>
                            <li><a title="LIÊN KÊT WEB" href="/vi/du-khach/Lien-Ket-website-Du-lich/">LIÊN KÊT WEB</a></li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <script type="text/javascript">
                //<![CDATA[
                $(function () {
                    $('#menu_5').metisMenu({
                        toggle: false
                    });
                });
                //]]>
            </script>
        </div>
    </div>
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/Trung-t%C3%A2m-Th%C3%B4ng-tin-X%C3%BAc-ti%E1%BA%BFn-Du-l%E1%BB%8Bch-Th%C3%A1i-Nguy%C3%AAn-1365572470177177&amp;width=200&amp;height=250&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;locale=vi_VN&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:250px;" allowtransparency="true"></iframe>
    <div class="panel panel-default">
        <div class="panel-heading"><a href="http://dulichthainguyen.vn/">Du lịch</a></div>
        <div class="panel-body">
            <div class="nv-block-banners"><a href="/index.php?language=vi&amp;nv=banners&amp;op=click&amp;id=7" onclick="this.target=&#39;_self&#39;" title="Bản đồ du lịch Thái Nguyên"><img alt="Bản đồ du lịch Thái Nguyên" src="/uploads/banners/bando.jpg" width="300" height="379" /></a></div>
        </div>
    </div>
</div>