@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "GIOITHIEU";
}
<link href="~/CỔNG DU LỊCH THÁI NGUYÊN_files/ce2ef6deb98210c34d168c454170101b.opt.css" rel="stylesheet" />
<div class="col-sm-8 col-md-8 col-sm-3">
    <div class="page">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="pull-left img-thumbnail" style="margin: 0 7px 7px 0"><a href="http://thainguyentourism.vn/vi/about/Du-lich-Thai-Nguyen-nhung-dieu-can-kham-pha.html" title="Du lịch Thái Nguyên - Khám phá và trải nghiệm"><img src="./Giới thiệu - CỔNG DU LỊCH THÁI NGUYÊN_files/a.png" alt="Thành phố Thái Nguyên ngày nay. Ảnh Thanh Huyền" width="100"></a></div>
                <h3><a href="http://thainguyentourism.vn/vi/about/Du-lich-Thai-Nguyen-nhung-dieu-can-kham-pha.html" title="Du lịch Thái Nguyên - Khám phá và trải nghiệm">Du lịch Thái Nguyên - Khám phá và trải nghiệm</a></h3>
                <p>Là một tỉnh thuộc vùng trung du miền núi Đông Bắc, Thái Nguyên có nhiều tiềm năng, lợi thế để khai thác phát triển ngành du lịch với các loại hình như: Du lịch về nguồn, du lịch sinh thái nghỉ dưỡng, du lịch cộng đồng gắn với việc bảo tồn và phát huy các giá trị văn hóa dân tộc và đặc biệt là du lịch làng nghề gắn với các vùng chè.</p>
            </div>
        </div>
    </div>

</div>