@using KMT.DATA_MODEL.MenuQuanTri;
@model List<MenuQuanTriInfo>
@{
    Layout = null;
}
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-site-default"><span class="sr-only">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button></div>
    <div class="collapse navbar-collapse" id="menu-site-default">
        <ul class="nav navbar-nav">
            <li class="active"><a title="Trang nhất" href="/vi/"><em class="fa fa-lg fa-home">&nbsp;</em> Trang nhất</a></li>
            <li><a href="/vi/about/" title="Giới thiệu">Giới thiệu</a></li>
            <li><a href="/vi/vanban/" title="Văn bản pháp luật">Văn bản pháp luật</a></li>
            <li><a href="/vi/quy-hoach-du-an/" title="Quy hoạch, dự án">Quy hoạch, dự án</a></li>
            <li><a href="/vi/users/" title="Quản lý Du lịch">Quản lý Du lịch</a></li>
            <li><a href="/vi/shops/" title="Mua sắm du lịch">Mua sắm du lịch</a></li>
            <li><a href="/vi/booking/" title="Đặt phòng khách sạn, nhà nghỉ...">Đặt phòng</a></li>
            <li><a href="/vi/contact/" title="Tư vấn">Tư vấn</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="digclock"></a></li>
        </ul>
    </div>
</div>
