@using KMT.DATA_MODEL.Users;
@using KMT.DATA_MODEL.Role;
@{
    ViewBag.Title = "Index";
Layout = "~/Views/Shared/Base.cshtml";
List<RoleInfo> lstRole = (List<RoleInfo>)ViewBag.lstRoleData;
List<UserInfo> lstUserData = (List<UserInfo>)ViewBag.lstUserData;
}

<div class="container-fluid">
    <form>
        <input type="hidden" class="form-control" id="Id">
        <div class="form-group">
            <label  style="width:7%" for="USERID">Người dùng</label>
            <select name="USERID" id="USERID" style="width:50%">
                @{
                    foreach (var item in lstUserData)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }

            </select>
        </div>
        <div class="form-group">
            <label style="width:7%" for="ROLE">Chức vụ<span style="color:red">*</span></label>
            <select name="ROLE" id="ROLE" style="width:50%" multiple="multiple">
                @{
                    foreach (var item in lstRole)
                    {
                        <option value="@item.Id">@item.TEN</option>
                    }
                }
            </select>
        </div>
        <button type="button" class="btn btn-primary btnUpdate">Lưu</button>
        <button type="button" class="btn btn-primary btnRefresh">Làm mới</button>
    </form>
    <div id="DataPermission" class="row">

    </div>
</div>

<div class="container-fluid mt-5">
    <nav id="Page_pg" aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        </ul>
    </nav>

</div>

<script>
    $(document).ready(function () {
        $('#USERID').select2();
        $('#ROLE').select2();

        getDataPage(1);
        $('.btnUpdate').click(function () {
            var USERID = $('#USERID').val();
            var Id = $('#Id').val();
            var ROLE = $('#ROLE').val();
            if (ROLE.length == 0) {
                toastr.warning('Vui lòng chọn chức vụ');
                return false;
            }
            var data = {
                Id: Id,
                USERID: USERID,
                ROLE: ',' + ROLE.join(',') + ','
            }

            $.post('/UserRole/AddOrUpdate', data, function (data) {
                if (data.status == 500) {
                    toastr.error(data.message);
                }
                else if (data.status == 200) {
                    toastr.success(data.message);
                }
                getDataPage(1);
            })
        })
        $('.btnRefresh').click(function () {
            $('#Id').val('');
            $('#ROLE').val([]).trigger('change');
        })


    })
    //add event
    $("#DataPermission").on("click", '.btnXoa', function () {
        let Id = $(this).attr('data-id');
        $.get('/UserRole/Delete?Id=' + Id, function (data) {
            if (data.status == 500) {
                toastr.error(data.message);
            }
            else if (data.status == 200) {
                toastr.success(data.message);
            }
            getDataPage(1);
        })
    });

    $("#DataPermission").on("click", '.btnSua', function () {
        let Id = $(this).attr('data-id');
        $.get('/UserRole/GetById?Id=' + Id, function (data) {
            let lstRole = data.ROLE.split(',');
            $('#ROLE').val(lstRole).trigger('change');
            $('#USERID').val(data.USERID).trigger('change');
            $('#Id').val(data.Id);
        })
    });


    function PaginationData(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

    function getDataPage(page) {
        let take = 5;
        LoadData(page, take);
    }

    function LoadData(page, take) {
        let data = {
            page: page,
            take: take
        }
        $.post('/UserRole/search', data, function (data) {
            if (data.data!=null) {
                RenderData(data, "#DataPermission");
            }
            
        })
    }
    function RenderData(response, strElement) {
        let data = response.data;
        $(strElement).empty();
        let htmlRender = `<table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Danh sách quyền</th>
                     <th scope="col">Thao tác</th>
                </tr>
            </thead>

            <tbody>`;
        for (var i = 0; i < data.length; i++) {
            let lstRoleInfo = data[i].lstRoleInfo;
            let role = '';
            for (var j = 0; j < lstRoleInfo.length; j++) {
                role += lstRoleInfo[j].TEN + ',';
            }

            let user = data[i].UserInfo;
            htmlRender += `<tr>
                    <th scope="row">`+ (i + 1) + `</th>
                    <td>`+ user.Name + `</td>
                    <td>`+ role + `</td>
                    <td><button type="button" data-id='`+ data[i].Id + `' class="btn btn-primary btnSua">Sửa</button><button data-id='` + data[i].Id + `' type="button" class="btn btn-danger btnXoa">Xóa</button></td>
                </tr>`;
        }
        htmlRender += `</tbody>
        </table>`;
        $(strElement).append(htmlRender);
        PaginationData(response);
    }
</script>