@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "TRANGCHU";
}
<link href="~/CỔNG DU LỊCH THÁI NGUYÊN_files/ce2ef6deb98210c34d168c454170101b.opt.css" rel="stylesheet" />
<div  class="col-sm-8 col-md-8 col-sm-3">
    <div id="DataThongTinDuLich">

    </div>
    
    <hr />
    <h4>Các tin khác</h4>
    <ul class="related">
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Gao-nep-vai-On-Luong-va-nhung-thuc-qua-hap-dan-du-khach-1011.html" title="Gạo nếp vải Ôn Lương và những thức quà hấp dẫn du khách">Gạo nếp vải Ôn Lương và những thức quà hấp dẫn du khách <em>(22/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Ve-Phu-Binh-van-canh-chua-Khanh-Long-1010.html" title="Về Phú Bình vãn cảnh chùa Khánh Long">Về Phú Bình vãn cảnh chùa Khánh Long <em>(19/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trai-nghiem-thu-vi-tai-vuon-na-La-Hien-1009.html" title="Trải nghiệm thú vị tại vườn na La Hiên">Trải nghiệm thú vị tại vườn na La Hiên <em>(17/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Chua-Huong-dau-an-cua-thoi-gian-1008.html" title="Chùa Huống dấu ấn của thời gian">Chùa Huống dấu ấn của thời gian <em>(16/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/TOP-12-DIEM-DEN-DU-LICH-HAP-DAN-TAI-THAI-NGUYEN-1007.html" title="TOP 12 ĐIỂM ĐẾN DU LỊCH HẤP DẪN TẠI THÁI NGUYÊN">TOP 12 ĐIỂM ĐẾN DU LỊCH HẤP DẪN TẠI THÁI NGUYÊN <em>(13/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trien-lam-anh-truc-tuyen-Dai-tuong-Vo-Nguyen-Giap-voi-ATK-Thai-Nguyen-1006.html" title="Triển lãm ảnh trực tuyến&#x3A; “Đại tướng Võ Nguyên Giáp với ATK Thái Nguyên”">Triển lãm ảnh trực tuyến&#x3A; “Đại tướng Võ Nguyên Giáp với ATK Thái Nguyên” <em>(12/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/THUONG-THUC-NHAM-TRAM-TREN-DAT-HA-CHAU-1005.html" title="THƯỞNG THỨC NHAM TRÁM TRÊN ĐẤT HÀ CHÂU">THƯỞNG THỨC NHAM TRÁM TRÊN ĐẤT HÀ CHÂU <em>(10/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Thai-Nguyen-Phan-dau-den-nam-2025-hoan-thanh-ho-tro-5-mo-hinh-diem-ve-du-lich-cong-dong-1004.html" title="Thái Nguyên&#x3A; Phấn đấu đến năm 2025 hoàn thành hỗ trợ 5 mô hình điểm về du lịch cộng đồng">Thái Nguyên&#x3A; Phấn đấu đến năm 2025 hoàn thành hỗ trợ 5 mô hình điểm về du lịch cộng đồng <em>(03/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trai-nghiem-tuyen-du-lich-lich-su-ket-hop-tam-linh-sinh-thai-tai-ATK-Dinh-Hoa-1003.html" title="Trải nghiệm tuyến du lịch lịch sử kết hợp tâm linh, sinh thái tại ATK Định Hóa">Trải nghiệm tuyến du lịch lịch sử kết hợp tâm linh, sinh thái tại ATK Định Hóa <em>(01/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Son-La-Phat-dong-Cuoc-thi-sang-tac-bieu-trung-va-khau-hieu-du-lich-1002.html" title="Sơn La&#x3A; Phát động Cuộc thi sáng tác biểu trưng và khẩu hiệu du lịch">Sơn La&#x3A; Phát động Cuộc thi sáng tác biểu trưng và khẩu hiệu du lịch <em>(29/07/2021)</em></a></li>
    </ul>
    <div id="Page_pg" class="text-center">
        <ul class="pagination">
            
        </ul>
    </div>

</div>

<script>
    $(document).ready(function () {
        getDataPage(1);
    })

    function getDataPage(page) {
        let take =20;
        LoadData(page, take);
    }

    function LoadData(page, take) {
        let data = {
            page: page,
            take: take
        }
        $.post('/TrangChu/search', data, function (data) {
            RenderData(data, "#DataThongTinDuLich");
        })
    }
    function RenderData(response, strElement) {
        let data = response.data;
        console.log(data);
        $(strElement).empty();
        let htmlRender = ``;
        for (var i = 0; i < data.length; i++) {
            htmlRender += `<div class="news_column">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/ChiTietTinTuc?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `"><img alt="` + data[i].MOTA + `" src="/Content/HinhAnh/` + data[i].HINHANH +`" width="200" class="img-thumbnail pull-left imghome" /></a>
                        <h3><a href="/ChiTietTinTuc?Id=`+ data[i].Id + `" title="` + data[i].MOTA + `">` + data[i].TIEUDE + `</a> <span class="icon_new">&nbsp;</span></h3>
                        <p class="text-justify">` + data[i].MOTA + `</p>
                    </div>
                </div>
            </div>`;
        }
        $(strElement).append(htmlRender);
        PaginationData(response);
    }

    function PaginationData(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

</script>
