@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "TRANGCHU";
}
<link href="~/CỔNG DU LỊCH THÁI NGUYÊN_files/ce2ef6deb98210c34d168c454170101b.opt.css" rel="stylesheet" />
<div class="col-sm-8 col-md-8 col-sm-3">
    <div class="news_column">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/vi/news/Tin-tuc/10-diem-du-lich-van-hoa-tam-linh-tieu-bieu-tai-Thai-Nguyen-1016.html" title="10 điểm du lịch văn hóa tâm linh tiêu biểu tại Thái Nguyên"><img alt="10 điểm du lịch văn hóa tâm linh tiêu biểu tại Thái Nguyên" src="/files/news/2021_09/2_1.jpg" width="200" class="img-thumbnail pull-left imghome" /></a>
                <h3><a href="/vi/news/Tin-tuc/10-diem-du-lich-van-hoa-tam-linh-tieu-bieu-tai-Thai-Nguyen-1016.html" title="10 điểm du lịch văn hóa tâm linh tiêu biểu tại Thái Nguyên">10 điểm du lịch văn hóa tâm linh tiêu biểu tại Thái Nguyên</a> <span class="icon_new">&nbsp;</span></h3>
                <p class="text-justify">Trung tâm Thông tin xúc tiến du lịch Thái Nguyên giới thiệu 10 điểm đến du lịch văn hóa tâm linh tiêu biểu trên địa bàn tỉnh.</p>
            </div>
        </div>
    </div>
    <div class="news_column">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/vi/news/Tin-tuc/Hop-tac-xa-che-an-toan-Khe-Coc-huong-toi-phat-trien-du-lich-sinh-thai-1015.html" title="Hợp tác xã chè an toàn Khe Cốc hướng tới phát triển du lịch sinh thái"><img alt="Hợp tác xã chè an toàn Khe Cốc hướng tới phát triển du lịch sinh thái" src="/files/news/2021_09/2.jpg" width="200" class="img-thumbnail pull-left imghome" /></a>
                <h3><a href="/vi/news/Tin-tuc/Hop-tac-xa-che-an-toan-Khe-Coc-huong-toi-phat-trien-du-lich-sinh-thai-1015.html" title="Hợp tác xã chè an toàn Khe Cốc hướng tới phát triển du lịch sinh thái">Hợp tác xã chè an toàn Khe Cốc hướng tới phát triển du lịch sinh thái</a></h3>
                <p class="text-justify">Vùng chè Tức Tranh, huyện Phú Lương, tỉnh Thái Nguyên được thiên nhiên ưu ái ban tặng cho khí hậu thuận lợi và bao bọc bởi đồi núi, những khe suối nguồn tạo điều kiện cho cây chè phát triển, nâng cao chất lượng sản phẩm trà.</p>
            </div>
        </div>
    </div>
    <div class="news_column">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/vi/news/Tin-tuc/Thu-tuong-Pham-Minh-Chinh-dang-huong-tuong-niem-Chu-tich-Ho-Chi-Minh-tai-Khu-di-tich-Quoc-gia-dac-biet-ATK-Dinh-Hoa-1014.html" title="Thủ tướng Phạm Minh Chính dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích Quốc gia đặc biệt ATK Định Hóa."><img alt="Thủ tướng Phạm Minh Chính dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích Quốc gia đặc biệt ATK Định Hóa." src="/files/news/2021_08/1_1.png" width="200" class="img-thumbnail pull-left imghome" /></a>
                <h3><a href="/vi/news/Tin-tuc/Thu-tuong-Pham-Minh-Chinh-dang-huong-tuong-niem-Chu-tich-Ho-Chi-Minh-tai-Khu-di-tich-Quoc-gia-dac-biet-ATK-Dinh-Hoa-1014.html" title="Thủ tướng Phạm Minh Chính dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích Quốc gia đặc biệt ATK Định Hóa.">Thủ tướng Phạm Minh Chính dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích Quốc gia đặc biệt ATK Định Hóa.</a></h3>
                <p class="text-justify">Ngày 3/9/2021, Đoàn công tác của Chính phủ do đồng chí Phạm Minh Chính, Ủy viên Bộ Chính trị, Thủ tướng Chính phủ làm Trưởng đoàn đã đến dâng hương tưởng niệm Chủ tịch Hồ Chí Minh tại Nhà tưởng niệm Chủ tịch Hồ Chí Minh trên đỉnh đèo De, xã Phú Đình, huyện Định Hóa, tỉnh Thái Nguyên.</p>
            </div>
        </div>
    </div>
    <div class="news_column">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/vi/news/Tin-tuc/10-diem-den-du-lich-phuot-da-ngoai-ly-tuong-tai-Thai-Nguyen-1013.html" title="10 điểm đến du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên"><img alt="10 điểm đến du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên" src="/files/news/2021_08/1_1.jpg" width="200" class="img-thumbnail pull-left imghome" /></a>
                <h3><a href="/vi/news/Tin-tuc/10-diem-den-du-lich-phuot-da-ngoai-ly-tuong-tai-Thai-Nguyen-1013.html" title="10 điểm đến du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên">10 điểm đến du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên</a></h3>
                <p class="text-justify">Kỳ nghỉ lễ dài ngày 2/9 sắp đến, trước tình hình dịch bệnh Covid-19 diễn biến phức tạp, bạn muốn tìm những địa điểm trong tỉnh vừa có cảnh đẹp mà lại không bon chen, đông đúc. Dưới đây, chúng tôi xin giới thiệu 10 địa điểm du lịch phượt, dã ngoại lý tưởng tại Thái Nguyên để mọi người có thể tham khảo và lựa chọn, đảm bảo cho mình và gia đình có một kỳ nghỉ vui vẻ và an toàn.</p>
            </div>
        </div>
    </div>
    <div class="news_column">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/vi/news/Tin-tuc/Chua-Hang-Tien-Lu-Phat-dong-1012.html" title="Chùa Hang – “Tiên Lữ Phật động”"><img alt="Chùa Hang – “Tiên Lữ Phật động”" src="/files/news/2021_08/113.png" width="200" class="img-thumbnail pull-left imghome" /></a>
                <h3><a href="/vi/news/Tin-tuc/Chua-Hang-Tien-Lu-Phat-dong-1012.html" title="Chùa Hang – “Tiên Lữ Phật động”">Chùa Hang – “Tiên Lữ Phật động”</a></h3>
                <p class="text-justify"></p>
            </div>
        </div>
    </div>
    <hr />
    <h4>Các tin khác</h4>
    <ul class="related">
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Gao-nep-vai-On-Luong-va-nhung-thuc-qua-hap-dan-du-khach-1011.html" title="Gạo nếp vải Ôn Lương và những thức quà hấp dẫn du khách">Gạo nếp vải Ôn Lương và những thức quà hấp dẫn du khách <em>(22/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Ve-Phu-Binh-van-canh-chua-Khanh-Long-1010.html" title="Về Phú Bình vãn cảnh chùa Khánh Long">Về Phú Bình vãn cảnh chùa Khánh Long <em>(19/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trai-nghiem-thu-vi-tai-vuon-na-La-Hien-1009.html" title="Trải nghiệm thú vị tại vườn na La Hiên">Trải nghiệm thú vị tại vườn na La Hiên <em>(17/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Chua-Huong-dau-an-cua-thoi-gian-1008.html" title="Chùa Huống dấu ấn của thời gian">Chùa Huống dấu ấn của thời gian <em>(16/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/TOP-12-DIEM-DEN-DU-LICH-HAP-DAN-TAI-THAI-NGUYEN-1007.html" title="TOP 12 ĐIỂM ĐẾN DU LỊCH HẤP DẪN TẠI THÁI NGUYÊN">TOP 12 ĐIỂM ĐẾN DU LỊCH HẤP DẪN TẠI THÁI NGUYÊN <em>(13/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trien-lam-anh-truc-tuyen-Dai-tuong-Vo-Nguyen-Giap-voi-ATK-Thai-Nguyen-1006.html" title="Triển lãm ảnh trực tuyến&#x3A; “Đại tướng Võ Nguyên Giáp với ATK Thái Nguyên”">Triển lãm ảnh trực tuyến&#x3A; “Đại tướng Võ Nguyên Giáp với ATK Thái Nguyên” <em>(12/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/THUONG-THUC-NHAM-TRAM-TREN-DAT-HA-CHAU-1005.html" title="THƯỞNG THỨC NHAM TRÁM TRÊN ĐẤT HÀ CHÂU">THƯỞNG THỨC NHAM TRÁM TRÊN ĐẤT HÀ CHÂU <em>(10/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Thai-Nguyen-Phan-dau-den-nam-2025-hoan-thanh-ho-tro-5-mo-hinh-diem-ve-du-lich-cong-dong-1004.html" title="Thái Nguyên&#x3A; Phấn đấu đến năm 2025 hoàn thành hỗ trợ 5 mô hình điểm về du lịch cộng đồng">Thái Nguyên&#x3A; Phấn đấu đến năm 2025 hoàn thành hỗ trợ 5 mô hình điểm về du lịch cộng đồng <em>(03/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Trai-nghiem-tuyen-du-lich-lich-su-ket-hop-tam-linh-sinh-thai-tai-ATK-Dinh-Hoa-1003.html" title="Trải nghiệm tuyến du lịch lịch sử kết hợp tâm linh, sinh thái tại ATK Định Hóa">Trải nghiệm tuyến du lịch lịch sử kết hợp tâm linh, sinh thái tại ATK Định Hóa <em>(01/08/2021)</em></a></li>
        <li><em class="fa fa-angle-right">&nbsp;</em><a href="/vi/news/Tin-tuc/Son-La-Phat-dong-Cuoc-thi-sang-tac-bieu-trung-va-khau-hieu-du-lich-1002.html" title="Sơn La&#x3A; Phát động Cuộc thi sáng tác biểu trưng và khẩu hiệu du lịch">Sơn La&#x3A; Phát động Cuộc thi sáng tác biểu trưng và khẩu hiệu du lịch <em>(29/07/2021)</em></a></li>
    </ul>
    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a rel="next" title="Thông tin tổng hợp - Trang 2" href="/vi/news/page-2/">2</a></li>
            <li><a rel="next" title="Thông tin tổng hợp - Trang 3" href="/vi/news/page-3/">3</a></li>
            <li class="disabled"><span>...</span></li>
            <li><a rel="next" title="Thông tin tổng hợp - Trang 190" href="/vi/news/page-190/">190</a></li>
            <li><a rel="next" title="Thông tin tổng hợp - Trang 191" href="/vi/news/page-191/">191</a></li>
            <li><a rel="next" title="Thông tin tổng hợp - Trang 192" href="/vi/news/page-192/">192</a></li>
            <li><a rel="next" title="Thông tin tổng hợp - Trang 2" href="/vi/news/page-2/">&raquo;</a></li>
        </ul>
    </div>


</div>