@{
    Layout = null;
}

<footer id="footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel-body">
                        <p style="text-align: justify;">
                            <span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Cơ quan chủ quản: Sở Văn hóa, Thể thao và Du lịch tỉnh Thái Nguyên</span></span><br />
                            <span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Cơ quan quản lý và duy trì: Trung tâm Thông tin Xúc tiến Du lịch tỉnh Thái Nguyên</span></span><br />
                            <span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Địa chỉ: Xã Tân Thái - huyện Đại Từ -&nbsp;tỉnh Thái Nguyên -</span></span><span style="font-size:12px;">
                                <span style="font-family:tahoma,geneva,sans-serif;">
                                    &nbsp;Email: thainguyen.tpic@gmail.com<br />
                                    Giấy phép thiết lập&nbsp;số 65/GP-TTĐT ngày 25/01/2016&nbsp;do Sở Thông tin và Truyền thông cấp<br />
                                    Chịu trách nhiệm chính: Ông&nbsp;Nguyễn Thành Luân&nbsp;- Chức vụ&nbsp;Giám đốc
                                </span>
                            </span><br />
                            <span style="font-family:tahoma,geneva,sans-serif;">Điện thoại: 0912239337.</span>
                        </p>
                        <p style="text-align: justify;"><span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Ghi nguồn tin&nbsp;&quot;thainguyentourism.vn&quot; khi sử dụng thông tin từ trang thông tin điện tử này!</span></span></p>
                        <p style="text-align: justify;"><span style="font-family:verdana,geneva,sans-serif;"><span style="font-size:10px;">Bản quyền thuộc sở Văn hóa, Thể thao và Du lịch tỉnh Thái Nguyên, phát triển trên nền&nbsp;mã nguồn NukeViet CMS 4.0</span></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel-body">
                        <form action="#" method="post">
                            <p class="input-group"><span class="input-group-addon"><em class="fa fa-search">&nbsp;</em></span> <input type="text" name="q" id="Keywordd" value="" class="form-control" placeholder="Từ khóa" /></p>
                            <p>
                                <select class="form-control" name="cat" id="TypeTheme">
                                    <option value="">Hãy chọn chủ đề</option>
                                    <option value="1">Tin tức bài viết</option>
                                    <option value="2">Sản phẩm</option>
                                </select>
                            </p>
                            <p><input type="button" value="Search" class="btn btn-primary center-block" id="brnSearch" name="submit" /></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function () {
        $('#brnSearch').click(function () {
            let type = $('#TypeTheme').val();
            let Keyword = $('#Keywordd').val();
            if (Keyword=='') {
                toastr.warning('Vui lòng nhập từ khóa tìm kiếm');
            }
            if (type == '') {
                toastr.warning('Vui lòng chọn chủ đề');
            }
            else if (type == '1') {
                //tìm kiếm theo tin tức
                window.location.href = '/TinTuc?Keyword=' + Keyword;
            }
            else if (type == '2') {
                //tìm kiếm theo sản phẩm
                window.location.href = '/Product?Keyword=' + Keyword;
            }
        })
    })
</script>