@{
    Layout = null;
}

<footer id="footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel-body">
                        <p style="text-align: justify;">
                            <span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Cơ quan chủ quản: Sở Văn hóa, Thể thao và Du lịch tỉnh Thái Nguyên</span></span><br />
                            <span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Cơ quan quản lý và duy trì: Trung tâm Thông tin Xúc tiến Du lịch tỉnh Thái Nguyên</span></span><br />
                            <span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Địa chỉ: Xã Tân Thái - huyện Đại Từ -&nbsp;tỉnh Thái Nguyên -</span></span><span style="font-size:12px;">
                                <span style="font-family:tahoma,geneva,sans-serif;">
                                    &nbsp;Email: thainguyen.tpic@gmail.com<br />
                                    Giấy phép thiết lập&nbsp;số 65/GP-TTĐT ngày 25/01/2016&nbsp;do Sở Thông tin và Truyền thông cấp<br />
                                    Chịu trách nhiệm chính: Ông&nbsp;Nguyễn Thành Luân&nbsp;- Chức vụ&nbsp;Giám đốc
                                </span>
                            </span><br />
                            <span style="font-family:tahoma,geneva,sans-serif;">Điện thoại: 0912239337.</span>
                        </p>
                        <p style="text-align: justify;"><span style="font-size:12px;"><span style="font-family:tahoma,geneva,sans-serif;">Ghi nguồn tin&nbsp;&quot;thainguyentourism.vn&quot; khi sử dụng thông tin từ trang thông tin điện tử này!</span></span></p>
                        <p style="text-align: justify;"><span style="font-family:verdana,geneva,sans-serif;"><span style="font-size:10px;">Bản quyền thuộc sở Văn hóa, Thể thao và Du lịch tỉnh Thái Nguyên, phát triển trên nền&nbsp;mã nguồn NukeViet CMS 4.0</span></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel-body">
                        <ul class="menu">
                            <li><a href="/vi/statistics/" class="current">Thống kê truy nhập</a></li>
                            <li><span>|</span> <a href="/vi/voting/">Thăm dò ý kiến</a></li>
                            <li><span>|</span> <a href="/vi/seek/">Tìm kiếm</a></li>
                            <li><span>|</span> <a href="/vi/feeds/">Rss Feeds</a></li>
                            <li><span>|</span> <a href="/vi/page/">Page</a></li>
                            <li><span>|</span> <a href="/vi/comment/">Bình luận</a></li>
                            <li><span>|</span> <a href="/vi/download/">Tài liệu, dữ liệu về Du lịch Thái Nguyên</a></li>
                            <li><span>|</span> <a href="/vi/nvvideo/">Thư viện Video</a></li>
                            <li><span>|</span> <a href="/vi/albums/">albums</a></li>
                            <li><span>|</span> <a href="/vi/redday/">Ngày này năm xưa</a></li>
                            <li><span>|</span> <a href="/vi/du-dia-chi-thai-nguyen/">Dư địa chí Thái Nguyên</a></li>
                            <li class="top"><a href="#" id="bttop"><em class="fa fa-angle-up">&nbsp;</em></a></li>
                        </ul>
                        <form action="/vi/download/search/" method="post">
                            <p class="input-group"><span class="input-group-addon"><em class="fa fa-search">&nbsp;</em></span> <input type="text" name="q" value="" class="form-control" placeholder="Từ khóa" /></p>
                            <p>
                                <select class="form-control" name="cat">
                                    <option value="">Hãy chọn chủ đề</option>
                                    <option value="1">Các Bản đồ du lịch Thái Nguyên</option>
                                    <option value="2">Địa lý tỉnh Thái Nguyên</option>
                                    <option value="3">Tài liệu về Chè, Trà Thái Nguyên</option>
                                </select>
                            </p>
                            <p><input type="submit" value="Search" class="btn btn-primary center-block" name="submit" /></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>