@model KMT.DATA_MODEL.ThongTinDuLich.ThongTinDuLichInfo
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Page = "CHITIETTINTUC";
}
<style>
    #Content img{
        width:100%;
    }
</style>
<link href="~/cssSanPham/115412a366cccbd694c76421cd50a42c.opt.css" rel="stylesheet" />
<div class="col-sm-8 col-md-8 col-sm-3">
    <div class="container">
        <p style="font-weight: bold;text-align: justify;font-style: italic;">@Model.MOTA</p>
        <div id="Content">

        </div>
    </div>
    
</div>

<script>
    $(document).ready(function () {
        let data = htmlDecode(`@Html.Raw(Model.NOIDUNG)`);
        $('#Content').html(data);
    })

    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
</script>