@using KMT.DATA_MODEL.Permisson;
@using KMT.DATA_MODEL.Role;
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/Base.cshtml";
                List<RoleInfo> lstRole = (List<RoleInfo>)ViewBag.lstRoleData;
                List<PermissonInfo> lstPermisson = (List<PermissonInfo>)ViewBag.lstPermissonData; }

<div class="container-fluid">
    <form>
        <input type="hidden" class="form-control" id="Id">
        <div class="form-group">
            <label for="ROLEID">Chức vụ</label>
            <select name="ROLEID" id="ROLEID" style="width:50%">
                @{ foreach (var item in lstRole)
                                {
                    <option value="@item.Id">@item.TEN</option> } }

            </select>
        </div>
        <div class="form-group">
            <label for="PERMISSON">Quyền<span style="color:red">*</span></label>
            <select name="PERMISSON" id="PERMISSON" style="width:50%" multiple="multiple">
                @{ foreach (var item in lstPermisson)
                                {
                    <option value="@item.Id">@item.TENQUYEN</option> } }
            </select>
        </div>
        <button type="button" class="btn btn-primary btnUpdate">Lưu</button>
        <button type="button" class="btn btn-primary btnRefresh">Làm mới</button>
    </form>
    <div id="DataPermission" class="row">

    </div>
</div>

<div class="container-fluid mt-5">
    <nav id="Page_pg" aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        </ul>
    </nav>

</div>

<script>
    $(document).ready(function () {
        $('#ROLEID').select2();
        $('#PERMISSON').select2();

        getDataPage(1);
        $('.btnUpdate').click(function () {
            var ROLEID = $('#ROLEID').val();
            var Id = $('#Id').val();
            var PERMISSON = $('#PERMISSON').val();
            if (PERMISSON.length == 0) {
                toastr.warning('Vui lòng nhập quyền');
                return false;
            }
            var data = {
                Id: Id,
                ROLEID: ROLEID,
                PERMISSON: ',' + PERMISSON.join(',') + ','
            }

            $.post('/RolePermission/AddOrUpdate', data, function (data) {
                if (data.status == 500) {
                    toastr.error(data.message);
                }
                else if (data.status == 200) {
                    toastr.success(data.message);
                }
                getDataPage(1);
            })
        })
        $('.btnRefresh').click(function () {
            $('#Id').val('');
            $('#PERMISSON').val([]).trigger('change');
        })


    })
    //add event
    $("#DataPermission").on("click", '.btnXoa', function () {
        let Id = $(this).attr('data-id');
        $.get('/RolePermission/Delete?Id=' + Id, function (data) {
            if (data.status == 500) {
                toastr.error(data.message);
            }
            else if (data.status == 200) {
                toastr.success(data.message);
            }
            getDataPage(1);
        })
    });

    $("#DataPermission").on("click", '.btnSua', function () {
        let Id = $(this).attr('data-id');
        $.get('/RolePermission/GetById?Id=' + Id, function (data) {
            let lstPermisson = data.PERMISSON.split(',');
            $('#PERMISSON').val(lstPermisson).trigger('change');
            $('#ROLEID').val(data.ROLEID).trigger('change');
            $('#Id').val(data.Id);
        })
    });


    function PaginationData(response) {
        let page = response.page;
        let take = response.take;
        let total = response.total;
        let elHtml = '';
        if (page == 1) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link disabled" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(1)" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><<</a>' +
                '</li>' +
                '<li onclick="getDataPage(' + (page - 1) + ')" class="page-item">' +
                '<a class="page-link" href="#" tabindex="-1"><</a>' +
                '</li>'
                ;
        }
        let numberMaxpage = page + 2 > Math.ceil(total / take) ? Math.ceil(total / take) : page + 2;
        let numberMinpage = page - 2 < 1 ? 1 : page - 2;
        for (var i = numberMinpage; i <= numberMaxpage; i++) {
            if (i == page) {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item active"><a class="page-link" href="#">' + i + '</a></li>';
            }
            else {
                elHtml += '<li onclick="getDataPage(' + i + ')" class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            }

        }
        if (page == Math.ceil(total / take)) {
            elHtml += '<li class="page-item disabled">' +
                '<a class="page-link" href="#">></a>' +
                '</li>' +
                '<li class="page-item disabled">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        else {
            elHtml += '<li onclick="getDataPage(' + (page + 1) + ')" class="page-item">' +
                ' <a class="page-link" href="#">></a>' +
                '</li>' +
                '<li  onclick="getDataPage(' + (Math.ceil(total / take)) + ')" class="page-item">' +
                '<a class="page-link" href="#">>></a>' +
                '</li>';
        }
        $('#Page_pg .pagination').empty();
        $('#Page_pg .pagination').append(elHtml);
    }

    function getDataPage(page) {
        let take = 20;
        LoadData(page, take);
    }

    function LoadData(page, take) {
        let data = {
            page: page,
            take: take
        }
        $.post('/RolePermission/search', data, function (data) {
            if (data.data != null) {
                RenderData(data, "#DataPermission");
            }
        })
    }
    function RenderData(response, strElement) {
        let data = response.data;
        $(strElement).empty();
        let htmlRender = `<table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Danh sách quyền</th>
                     <th scope="col">Thao tác</th>
                </tr>
            </thead>

            <tbody>`;
        for (var i = 0; i < data.length; i++) {
            let lstPermisson = data[i].lstPermissonInfo;
            let permisson = '';
            for (var j = 0; j < lstPermisson.length; j++) {
                permisson += lstPermisson[j].TENQUYEN + ',';
            }

            let role = data[i].roleInfo;
            htmlRender += `<tr>
                    <th scope="row">`+ (i + 1) + `</th>
                    <td>`+ role.TEN + `</td>
                    <td>`+ permisson + `</td>
                    <td><button type="button" data-id='`+ data[i].Id + `' class="btn btn-primary btnSua">Sửa</button><button data-id='` + data[i].Id + `' type="button" class="btn btn-danger btnXoa">Xóa</button></td>
                </tr>`;
        }
        htmlRender += `</tbody>
        </table>`;
        $(strElement).append(htmlRender);
        PaginationData(response);
    }
</script>